:root {
    --DarkOrange: rgba(241, 145, 0, 0.922);
}

/* Home Page  */
#mainBanner {
    width: 100%;
}

/* Page main Banner */
#pcMainBanner {
    display: none;
}


/* Page manga arange area */
.mangaListArange {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);

    a {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(2, auto);
        width: calc((100%/2)-40px);
        margin: 10px;
        text-align: center;
        text-decoration: none;
        /* background-color: red; */

        section {
            img {
                width: auto;
                height: 14em;
                margin: 8px;
                border-radius: 8px;
                margin-bottom: 0 !important;
            }

            p {
                margin: 1px;
                color: white;
                margin-bottom: 10px;
            }
        }

        #chapterGrid {
            display: grid;
            border-radius: 3px;
            margin-top: auto;
            margin-bottom: 1px !important;
            grid-template-columns: repeat(2, auto);
            background-color: rgb(37, 37, 37);

            p {
                height: auto;
                margin: 2px 0;
                color: rgb(176, 176, 176);
            }
        }
    }
}

/* View All button */
.viewBtn {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 45px;

    button {
        width: 90%;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 3px 6px;
        background-color: var(--DarkOrange);
    }
}

footer {
    margin-top: 25px;
}

/* mangaPages Page */
/* Page manga arange area */
.mangaListArangeMamgaPages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);

    a {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(2, auto);
        width: calc((100%/2)-40px);
        margin: 10px;
        text-align: center;
        text-decoration: none;
        /* background-color: red; */

        section {
            img {
                width: auto;
                height: 14em;
                margin: 8px;
                border-radius: 8px;
                margin-bottom: 0 !important;
            }

            p {
                margin: 1px;
                color: white;
                margin-bottom: 10px;
            }
        }

        #chapterGrid {
            display: grid;
            border-radius: 3px;
            margin-top: auto;
            margin-bottom: 1px !important;
            grid-template-columns: repeat(2, auto);
            background-color: rgb(37, 37, 37);

            p {
                height: auto;
                margin: 2px 0;
                color: rgb(176, 176, 176);
            }
        }
    }
}

/* ----------------------------------------------------------------------------------------------------------------------------- */
/* Pc View Styles */

/* Home Page */
@media screen and (min-width: 600px) {
    /* Main banner slid show */
    .bannerSlidShow {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 20px;
        overflow: hidden;
        transform: translate(0, 0);
        /* background-color: red; */

        section {
            display: flex;
            flex-wrap: nowrap;
            animation: slide 10s infinite;

            a {
                flex: 1 0 100%;
                display: flex;
            }

            #pcMainBanner {
                width: 100%;
                display: block;
                border-radius: 10px;
            }
        }
    }

    @keyframes slide{
        0%{
            transform: translate(0);
        }
        35%{
            transform: translate(0);
        }
        45%{
            transform: translate(-100%);
        }
        80%{
            transform: translate(-100%);
        }
    }

    #mainBanner {
        display: none;
    }

    .mangaTopic div button {
        padding: 3px;
        padding-top: 4px !important;
    }

    /* Manga List */
    .mangaUpdateList {
        width: 100%;
        border-radius: 10px;
        padding-top: 10px;
        padding-bottom: 1px;
        background-color: rgba(36, 36, 36, 0.385);

        .mangaListArange img {
            height: 400px;
        }
    }

    .mangaPopularList {
        margin-left: 10px;
        background-color: rgba(36, 36, 36, 0.385);
    }
}

/* Pc view 1 */
@media screen and (min-width: 1300px) {
    .mangaMainBodyPcView {
        display: grid;
        grid-template-columns: 750px auto;
    }

    .mangaPopularList {
        #topic {
            margin-left: 20px;
            font-weight: bold;
        }

        #duration {
            text-align: center;
            padding: 3px;
            margin: 0 15px;
            margin-bottom: 15px !important;
            border-radius: 5px;
            background-color: var(--DarkOrange);
        }

        .mangaPopularListGrid {
            display: grid;
            grid-template-columns: repeat(1, auto);
            grid-template-rows: repeat(5, auto);

            section {
                a {
                    text-decoration: none;
                }

                img {
                    width: 90px;
                    height: 135px;
                    margin: 10px 0;
                    margin-left: 5px !important;
                    border-radius: 10px;
                }

                td {
                    vertical-align: top;

                    h3 {
                        color: white;
                        margin: 5px;
                    }

                    p {
                        color: gray;
                        margin: 5px;
                    }
                }
            }
        }
    }
}

/* Pc View 2 */
@media screen and (max-width: 1300px) {
    .mangaPopularList {
        display: none;
    }
}

/* Pc View 3 */
@media (max-width: 2000px) and (min-width: 600px) {
    .mangaUpdateList {
        width: 100%;
    }

    .mangaListArange img {
        height: 250px !important;
    }
}

/* ----------------------------------------------------------------------------------------- */
/* Manga Pages Pc view styles */

/* Pc view 1 */
@media screen and (min-width: 600px) {
    .bannerSlidShow {
        display: block;
    }

    .allMangaList {
        margin-top: 20px;
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(36, 36, 36, 0.385);
    }

    .mangaListArangeMamgaPages {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Pc view 2 */
@media (max-width: 1050px) and (min-width: 600px) {
    .mangaListArangeMamgaPages {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Pc view 3 */
@media (max-width: 800px) and (min-width: 600px) {
    .mangaListArangeMamgaPages {
        grid-template-columns: repeat(2, 1fr);
    }
}